# --- PROJET smartEngine : Groupe 1 ---

# 1. Données (IGNORER RAW & INTERMÉDIAIRES)
data/raw/
data/processed/cleaned/
data/processed/features/

# AUTORISER UNIQUEMENT LA TABLE ANALYTIQUE FINALE
!data/processed/analytics.csv

# 2. Outputs (AUTORISER LE RAPPORT DE NETTOYAGE)
outputs/*
!outputs/rapport-nettoyage.md

# 3. Code (AUTORISER SRC)
src/__pycache__/
*.pyc

# 4. Documentation locale & Notebooks
*.ipynb
docs/exploration-*/
.env
.venv/
.DS_Store
Thumbs.db
